@import "tailwindcss";

/* =========================
   THEME VARIABLES
   ========================= */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --primary-color-dark: #BA514D;
  --primary-color-dull: #F07167;
  --primary-color-vibrant: #E75C5A;

  --slate-bg-1: #F2F3F6;
  --white-fg-1: #FFFFFF;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

@layer components {
  .auth {
    @apply flex-center min-h-screen w-full bg-purple-100;
  }

  .root {
    @apply flex min-h-screen w-full flex-col;

    @variant lg {
      @apply flex-row;
    }
  }

  .header {
    @apply flex-1;
  }

  .root-container {
    background-color: var(--slate-bg-1);
    width: 100%;
    @apply mt-16 flex-1 overflow-auto p-8;

    @variant lg {
      @apply mt-0 max-h-screen py-10;
    }
  }

  .sidebar {
    @apply hidden h-screen w-72 bg-white p-5;

    @variant lg {
      @apply flex;

    }

  }


  .sidebar-logo {
    @apply flex items-center gap-2 md:py-2;
  }

  .sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4;
  }

  .sidebar-nav_elements {
    @apply hidden w-full flex-col items-start gap-2 md:flex;
  }

  .sidebar-nav_element {
    @apply flex-row cursor-pointer p-16-semibold w-full whitespace-nowrap rounded-full bg-cover transition-all hover:shadow-inner;


  }

  .sidebar-link {
    @apply p-16-semibold flex size-full gap-4 p-4;
  }

  .header {
    @apply flex-between fixed h-16 w-full border-b-4 border-purple-100 bg-white p-5 lg:hidden;
  }

  .header-nav_elements {
    @apply mt-8 flex w-full flex-col items-start gap-5;
  }

  .sheet-content {
    background-color: white;
    @apply p-6 flex flex-col;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none;
  }

  .form-container {
    background-color: var(--white-fg-1);
    height: auto;
    @apply p-8 rounded-xl
  }

  .input-field {
    &:focus-visible {
      box-shadow: 0 0 0 2px #ffdbd5;
    }
  }

  .submit-button {
    background-color: var(--primary-color-dull);
    color: white;
    font-weight: 500;
    cursor: pointer;
    @apply  bg-cover rounded-full py-4 px-6 p-16-semibold h-[50px] w-full md:h-[54px];
  }

}

@layer utility {
  .activeBgGradient {
    background-image: url('/assets/images/bg-gradient.png');
  }

  .activeElement img,
  .activeElement a {
    color: var(--primary-color-dull);
    filter: brightness(0) saturate(100%) invert(54%) sepia(17%) saturate(1897%) hue-rotate(314deg) brightness(90%) contrast(101%);



  }

  .h2-bold {
    @apply text-[30px] font-bold md:text-[36px] leading-[110%];
  }


}


@utility bg-purple-gradient {
  background: url('/assets/images/bg-gradient.png')
}


@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@utility p-16-semibold {
  @apply font-semibold text-[16px];
}

@utility p-16-regular {
  @apply font-semibold text-[16px];
}